.video__duration {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.3em;
  color: #ffffff;
  position: absolute;
  z-index: 2;
  left: 30px;
  top: 165px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .video__duration {
    top: 125px;
  }
}
