.cover {
  margin: 0 auto;
  width: 1184px;
  height: 594px;
  margin-bottom: 82px;
  position: relative;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    width: 1024px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    width: 768px;
    height: 500px;
    margin-bottom: 102px;
  }
}
@media screen and (min-width: 550px) and (max-width: 767px) {
  .cover {
    width: 518px;
    height: 398px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 375px) and (max-width: 549px) {
  .cover {
    width: 375px;
    height: 272px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .cover {
    width: 320px;
    height: 216px;
    margin-bottom: 64px;
  }
}
