.comments__content-subtitle {
  margin: 0;
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 71px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .comments__content-subtitle {
    margin-bottom: 66px;
  }
}

@media screen and (min-width: 550px) and (max-width: 767px) {
  .comments__content-subtitle {
    width: 518px;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 42px;
  }
}

@media screen and (min-width: 375px) and (max-width: 549px) {
  .comments__content-subtitle {
    width: 343px;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 42px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .comments__content-subtitle {
    width: 288px;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 34px;
  }
}
