.cover__correction-layer {
  background-color: #000;
  width: 100%;
  height: 594px;
  opacity: 0.3;
  position: absolute;
  z-index: 2;
}

.cover__correction-layer:hover {
  opacity: 0.5;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__correction-layer {
    height: 562px;
  }
}

@media screen and (min-width: 550px) and (max-width: 767px) {
  .cover__correction-layer {
    height: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__correction-layer {
    height: 100%;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .cover__correction-layer {
    height: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .cover__correction-layer {
    height: 100%;
  }
}
