.video__cover {
  height: 100%;
  position: absolute;
  z-index: 0;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .video__cover {
    height: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .video__cover {
    height: 100%;
  }
}
