.comments {
  margin: 0 auto;
  width: 1184px;
  margin-bottom: 102px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .comments {
    width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .comments {
    width: 720px;
  }
}
@media screen and (min-width: 550px) and (max-width: 767px) {
  .comments {
    width: 518px;
  }
}

@media screen and (min-width: 375px) and (max-width: 549px) {
  .comments {
    width: 375px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .comments {
    width: 320px;
    margin-bottom: 48px;
  }
}
