.comments__quote {
  margin: 0;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 24px;
  margin-left: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .comments__quote {
    width: 382px;
    font-size: 16px;
    line-height: 23px;
    order: 3;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .comments__quote {
    width: 343px;
    font-size: 16px;
    line-height: 23px;
    order: 3;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .comments__quote {
    order: 3;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 0;
  }
}
