.video__correction-layer {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
}

.video__correction-layer:hover {
  opacity: 0.8;
}
